<!-- Navigation -->
<nav class="navbar bg-company-pink navbar-light navbar-expand-lg sticky-top">
    <div class="container">
        <a href="/ordersuccess" class="navbar-brand"><img src="images/logo circle (1).png" alt="logo"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarResponsive">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <lis class="nav-item"><a href="/" class="nav-link active">Home</a></lis>
                <lis class="nav-item"><a href="/about" class="nav-link">About Us</a></lis>
                <lis class="nav-item"><a href="/contact" class="nav-link">Contact Us</a></lis>
                <lis class="nav-item"><a href="/signin" class="nav-link">Sign In</a></lis>
               <lis class ="nav-item"><a href="/shipping" class="nav-link"> <i class="fa fa-shopping-cart" style="font-size: 36px;"></i></a></lis>
            </ul>

        </div>
    </div>
</nav>
<!-- End Navigation -->