<div class="container">
    <div class="row">
        <span class="border border-dark rounded mt-5 py-5 p-4 mb-5">
           
        
                <p class="display-4">About Us</p>
                <p class="text-center">Baking Baby is an online shop where you can order a variety of handmade baked goods, from ube pandesal to yummy cream puff.
                </p>
           
          

           </span> 
                <img src="images/logo (1).jpg" alt="" class="float-right mt-5 mb-5">
            
    </div>
</div>

