
	<div class="container">
        <div class="row">

                   
                    <p class="display-3 mt- py-auto">Contact Us</p>
                    <span class="border border-dark rounded mt-5 py-5 p-4 mb-5 ml-auto">
                        <i class="fas fa-home" style="font-size: 40px;"></i>  Montojo St Barangay Singkamas Makati City <br> <br>
                        <i class="fas fa-envelope" style="font-size: 40px;"></i> bakingbabyph@gmail.com <br><br><br>
                        <i class="fas fa-phone-alt" style="font-size: 40px;"></i> 09183354344<br> <br> <br>
                        <i class="fab fa-facebook-square" style="font-size: 40px;"></i> Baking Baby Ph
                        
                        


                  
                    </p>
                </span>
                

                
                  
                
        </div>
    </div>