
	<div class="container">
        <div class="row">
                <div class="col-sm-6">
                   <br>
                   
                    <p class="big-text">Baking Baby Ph</p>
                    <p class="text-center">Satisfy your sweet craving <br>
                        the healthier way...
                    </p>
                </div>

                
                    <img src="images/2.jpg" alt="" class="img-fluid">
                
        </div>
    </div>



	<!-- Main Page Heading -->

	<div class="col-12 text-center mt-5">
        <h1 class="text-dark pt-4">Our Products</h1>
        <div class="border-top border-primary w-25 mx-auto my-3"></div>
    </div>
	<!-- Three Column Section -->

	<div class="container">
		<div class="row my-5">
			
			<!--IMAGE 1-->
			<div class="col-md-4 my-4">
				<img src="images/1.jpg" alt="" class="w-100">
				<h4 class="my-4">Ube Cheese Pandesal</h4>
				<h4 class="my-4">₱20</h4>
				<form action="">
				<center><button type="submit" id="1">Add to Cart</button> </center>
				</form>
			</div>

			<!--IMAGE 2-->
			<div class="col-md-4 my-4">
				<img src="images/4.1.jpg" alt="" class="w-100">
				<h4 class="my-4">Three Cheese Rolls</h4>
				<h4 class="my-4">₱30</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 3-->
			<div class="col-md-4 my-4">
				<img src="images/4.2.jpg" alt="" class="w-100">
				<h4 class="my-4">Ube Pandesal</h4>
				<h4 class="my-4">₱15</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 4-->
			<div class="col-md-4 my-4">
				<img src="images/2.jpg" alt="" class="w-100">
				<h4 class="my-4">Cream Puff</h4>
				<h4 class="my-4">₱15</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 5-->
			<div class="col-md-4 my-4">
				<img src="images/4.3.jpg" alt="" class="w-100">
				<h4 class="my-4">Creamy Red Velvet Cheesecake</h4>
				<h4 class="my-4">₱80</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 6-->
			<div class="col-md-4 my-4">
				<img src="images/4.jpg" alt="" class="w-100">
				<h4 class="my-4">Choco Cheese Pandesal</h4>
				<h4 class="my-4">₱30.00</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 7-->
			<div class="col-md-4 my-4">
				<img src="images/3.jpg" alt="" class="w-100">
				<h4 class="my-4">Cake something</h4>
				<h4 class="my-4">₱30.00</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

			<!--IMAGE 8-->
			<div class="col-md-4 my-4">
				<img src="images/4.4.jpg" alt="" class="w-100">
				<h4 class="my-4">Cupcakes</h4>
				<h4 class="my-4">₱20.00</h4>
				<center><button type="submit">Add to Cart</button> </center>
				
			</div>

				<!--IMAGE 9-->
				<div class="col-md-4 my-4">
					<img src="images/5.jpg" alt="" class="w-100" height="300px">
					<h4 class="my-4">Moist Banana Loaf</h4>
					<h4 class="my-4">₱50.00</h4>
					<center><button type="submit">Add to Cart</button> </center>
					
				</div>
		</div>
	</div>