<div class="container">
    <center><h1 class="display-1 mt-5 mb-5"><b>Order successfully received!</b></h1> </center>

</div>

<form action="/" method="GET">
    <div class="form-group">
    <!--BUTTON-->
   <center><button type="submit" class="btn btn-primary btn-lg">Logout</button></center> 
    </div>
    </form>