<div class="container">
    <div class="row">

               
                <p class="display-3 mt- py-auto ml-5">Sign In</p>

                <!--RIGHT SIDE: INPUT TYPES-->
        <div class="col-md-6 no-gutters mt-5 ml-5" >
            <div class="rightside d-flex justify-content-center align-items-center">
             
                <form action="/" method="POST"  >
                    <!--INPUT EMAIL-->
                    <div class="form-group">
                        <label for="email">Email Address</label>
                        <input class="form-control" type="email"  id="email" name="email" placeholder="Enter Email Address" style="width: 100%;">
                    </div>

                    <!--INPUT PASSWORD-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password"  id="password" name="password" placeholder="Enter Password" 
                        style="width: 100%;"/>
                    </div>
                    
                    <div class="form-group">
                    <!--BUTTON-->
                   <center><button type="submit" class="btn btn-primary btn-lg">Sign In</button></center> 
                    </div>

                    <div class="form-group">
                    <form action="/" method="GET">
                        <p class="Note">No Account Yet? Sign up!</p>
                        <center><button type="submit" class="btn btn-primary btn-lg">Sign Up</button>  </center> 
                    </form>
                    
                </form>
            
            </div>
        </div>
    </div>
    </div>

</div>