<div class="container">
    <div class="row">

               
                <p class="display-3 mt- py-auto ml-5">Sign Up</p>

                <!--RIGHT SIDE: INPUT TYPES-->
        <div class="col-md-6 no-gutters mt-5 ml-5" >
            <div class="rightside d-flex justify-content-center align-items-center">
             
                <form action="/" method="POST"  >
                    <!--Full name-->
                    <div class="form-group">
                        <label for="fname">Full Name</label>
                        <input class="form-control" type="text"  id="fname" name="fname" placeholder="Enter full name" style="width: 100%;">
                    </div>

                    <!--Email address-->
                    <div class="form-group">
                        <label for="password">Email Address</label>
                        <input class="form-control" type="email"  id="email" name="email" placeholder="Enter email address" 
                        style="width: 100%;"/>
                    </div>

                    <!--Contact No.-->
                    <div class="form-group">
                        <label for="contactno">Contact No.</label>
                        <input class="form-control" type="number"  id="contactno" name="contactno" placeholder="Enter contact no" 
                        style="width: 100%;"/>
                    </div>
                    
                    <!--Password-->
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input class="form-control" type="password"  id="password" name="password" placeholder="Enter password" 
                        style="width: 100%;"/>
                    </div>

                    <form action="/" method="GET">
                    <div class="form-group">
                    <!--BUTTON-->
                   <center><button type="submit" class="btn btn-primary btn-lg">Sign Up</button></center> 
                    </div>
                    </form>
                    
                </form>
            
            </div>
        </div>
    </div>
    </div>

</div>